body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    padding:0;
}
.fexibale-content{
    display:flex;
}
.left-content{
    width:45%;
    margin-left:5%;
    margin-top:10%;
}
.right-img{
    width:45%;
    margin-right:5%;
    margin-top:5%;
}
.top-img{
    width:100%;
    box-shadow:10px 10px 50px gray;
    border-radius:30px;
    
}
.top-h1{
    font-size:45px;
    color:rgb(82, 80, 80);
  
}
.color{
    color:orange;
}
.link-button{
    text-decoration:none;
    padding:15px 30px;
    background-image:linear-gradient(orange,tomato);
    border-radius:35px;
    color:white;
    font-weight:700;
}
.top-banner{
    padding-bottom:100px;
}
.left-img{
    width:50%;
    margin-left:5%;
    padding-top:10px;
}
.left-img img{
    width:80%;
} 
.right-content{
    width:40%;
    margin-right:2%;
    padding-top:120px;
}
.about-me{
    background-image: url(images/middle.png);
    background-position:top right;
    background-repeat: no-repeat;

}
.about-p{
    padding-bottom:30px;
}
.right-content h1{
    color:rgb(92, 90, 90);
}


